<div class="container mt-4">
  <h3>Dynamic Form</h3>

  <form [formGroup]="form">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <div class="input-group with-status">
        <input type="text" formControlName="name" class="form-control">
        <span class="input-group-text">
          <i [ngClass]="form.get('name')?.valid ? 'bi-check-lg' : 'bi-x-lg'"></i>
        </span>
      </div>
  </div>

    <div class="row mb-3" *ngFor="let item of attributes.controls; index as i" [formGroup]="attributes.at(i)">
      <div class="col">
        <label *ngIf="i == 0" class="form-label">Attribute Name</label>
        <div class="input-group with-status">
          <input type="text" formControlName="name" class="form-control">
          <span class="input-group-text">
            <i [ngClass]="attributes.at(i).get('name')?.valid ? 'bi-check-lg' : 'bi-x-lg'"></i>
          </span>
        </div>
      </div>
      <div class="col">
        <label *ngIf="i == 0" class="form-label">Attribute Value</label>
        <div class="input-group with-status">
          <input type="text" formControlName="value" class="form-control">
          <span class="input-group-text">
            <i [ngClass]="attributes.at(i).get('value')?.valid ? 'bi-check-lg' : 'bi-x-lg'"></i>
          </span>
        </div>
      </div>
      <div class="col-auto" [class.form-control-btn]="i == 0">
        <button (click)="addAttribute()" [class.disabled]="!attributes.at(i).valid" class="btn btn-outline-danger me-1">
          <i class="bi-plus-lg"></i>
        </button>
        <button (click)="removeAttribute(i)" class="btn btn-outline-danger">
          <i class="bi-dash-lg"></i>
        </button>
        </div>
    </div>

    <div>
      <button class="btn btn-outline-danger" [class.disabled]="!form.valid">
        <i class="bi-save"></i> Save
      </button>
    </div>
  </form>

  <div class="card mt-4">
    <h5 class="card-header">Form Value</h5>
    <div class="card-body">
      <pre>{{form.value | json}}</pre>
    </div>
  </div>
</div>


