.product-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0.5px solid gray;
  border-radius: 5px;
}

body {
  margin-top: 5rem;
}

.sticky-top {
  top: 4rem;
}
